#chat {
    overflow-y: auto;
    border-radius: 12%;
    border: solite black 2px;
    min-width: 400px
}
#chat::-webkit-scrollbar {
    display: none;
  }
  

  #chat {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }

.forum-title {
    text-align: center; 
    margin: 0;
    color: aliceblue;

}




.picker-container button {
  height: 20px;
}

.emoji-picker-react .emoji{
  margin-top: 7px;
}


#emoji-div {
  cursor: pointer;
}

section {
  width: 100%!important;
  } 



.talk-bubble {
	margin: 0px;
  display: inline-block;
  position: relative;
	width: 300px;
	height: auto;

}

.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}

.from-me {
  background-color: #248bf5;
  color: #fff; 
  overflow-wrap:break-word
}
.from-them {
 
  background-color: #e5e5ea;
  color: #000;
  overflow-wrap:break-word
}




.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 15px;
	bottom: auto;
	border: 12px solid;
	border-color: #e5e5ea #e5e5ea transparent transparent;
 
}



.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 15px;
	bottom: auto;
	border: 12px solid;
	border-color: #248bf5 transparent transparent #248bf5;

}
.tri-right.left-in {
  margin: 0px;
  border-radius: 30px;
}
.tri-right.right-in {
  margin: 0px;
  border-radius: 30px;
}


.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
 
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
