#chat {
    overflow-y: auto;
}
#chat::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #chat {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.forum-title {
    text-align: center; 
    margin: auto auto;
    color: aliceblue;

}